<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxfinalcactbank.oracle.apps.fnd.cactbank.schema.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="XxCactAttachmentEO"
      FullName="xxfinalcactbank.oracle.apps.fnd.cactbank.schema.server.XxCactAttachmentEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="xxcactbankBankEO"
      FullName="xxfinalcactbank.oracle.apps.fnd.cactbank.schema.server.xxcactbankBankEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="xxCactBankCreateEO"
      FullName="xxfinalcactbank.oracle.apps.fnd.cactbank.schema.server.xxCactBankCreateEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="xxCactBankCreateEO"
      FullName="xxfinalcactbank.oracle.apps.fnd.cactbank.schema.server.xxCactBankCreateEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="xxCactBankCreateEO"
      FullName="xxfinalcactbank.oracle.apps.fnd.cactbank.schema.server.xxCactBankCreateEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxcactTransaction"
      FullName="xxfinalcactbank.oracle.apps.fnd.cactbank.schema.server.XxcactTransaction"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="xxcactTxnTestEO"
      FullName="xxfinalcactbank.oracle.apps.fnd.cactbank.schema.server.xxcactTxnTestEO"
      ObjectType="Entity" >
   </Containee>
</JboPackage>
